{#
# ---------------------------------------------------------------------
#
# GLPI - Gestionnaire Libre de Parc Informatique
#
# http://glpi-project.org
#
# @copyright 2015-2024 Teclib' and contributors.
# @copyright 2003-2014 by the INDEPNET Development Team.
# @licence   https://www.gnu.org/licenses/gpl-3.0.html
#
# ---------------------------------------------------------------------
#
# LICENSE
#
# This file is part of GLPI.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# ---------------------------------------------------------------------
#}

<div class="d-flex timeline-header">
    <div class="d-flex creator">
        {{ include('components/itilobject/timeline/timeline_item_header_badges.html.twig', {
            'users_id': users_id,
            'user_object': user_object,
            'date_creation': date_creation,
            'date_mod': date_mod,
            'users_id_editor': entry_i['users_id_editor'],
            'anchor': entry['type'] ~ '_' ~ entry_i['id'],
            'anonym_user': anonym_user,
            'entry_i_id': entry_i['id'],
            'entry_type': entry['type']
        }, with_context = false) }}
    </div>

    <div class="d-flex ms-auto timeline-item-buttons">
        {% set actions = {} %}
        {% if entry_i['can_edit'] and not status_closed and not (entry['type'] in ['Document_Item', 'Assign']) %}
            {% set edit_btn %}
                <li>
                    <a class="dropdown-item edit-timeline-item" href="#">
                        <i class="fa-fw ti ti-edit"></i>
                        <span>{{ __('Edit') }}</span>
                    </a>
                </li>
            {% endset %}
            {% set actions = actions|merge({edit_btn}) %}
        {% endif %}

        {% if is_private %}
            <span class="is-private ms-2" title="{{ __('Private') }}"
                  data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="ti ti-lock" aria-label="{{ __('Private') }}"></i>
         </span>
        {% endif %}

        {% if entry_i['can_promote'] %}
            {% if entry_i['sourceof_items_id'] > 0 %}
                {% set promoted_btn %}
                    <li>
                        <a class="dropdown-item text-warning" href="{{ 'Ticket'|itemtype_form_path(entry_i['sourceof_items_id']) }}">
                            <i class="fa-fw ti ti-git-branch"></i>
                            <span>{{ __('%s was already promoted')|format(entry['type']|itemtype_name) }}</span>
                        </a>
                    </li>
                {% endset %}
                {% set actions = actions|merge({promoted_btn}) %}
            {% else %}
                {% set promote_url = '?_promoted_fup_id=' ~ entry_i['id'] %}
                {% if entry['type'] is same as 'TicketTask' %}
                    {% set promote_url = '?_promoted_task_id=' ~ entry_i['id'] %}
                {% endif %}

                {% set promote_btn %}
                    <li>
                        <a class="dropdown-item" href="{{ 'Ticket'|itemtype_form_path ~ promote_url }}">
                            <i class="fa-fw ti ti-git-branch"></i>
                            <span>{{ __('Promote to Ticket') }}</span>
                        </a>
                    </li>
                {% endset %}
                {#             TODO dlteams#}
                {% set move_btn %}
                    <li>
                        <a class="dropdown-item move-timeline-item{{ entry_rand }}" href="#">
                            <i class="fa-fw ti ti-arrow-right"></i>
                            <span>{{ __('Transférer vers un autre événement') }}</span>
                        </a>
                    </li>
                {% endset %}

                {% if entry['type'] == 'TicketTask' %}
                {% set add_planification_btn %}
                    <li>
                        <a class="dropdown-item add_tickettask_planification" data-tickettasks-id="{{ entry_i['id'] }}" href="#">
                            <i class="fa-fw ti ti-calendar"></i>
                            <span>{{ __('Ajouter une planification') }}</span>
                        </a>
                    </li>
                {% endset %}
                    {% endif %}

                {% set moveup_btn %}
                    <li>
                        <a class="dropdown-item moveup-timeline-item{{ entry_rand }}" href="#">
                            <i class="fa-fw ti ti-arrow-up"></i>
                            <span>{{ __('Monter') }}</span>
                        </a>
                    </li>
                {% endset %}

                {% set movedown_btn %}
                    <li>
                        <a class="dropdown-item movedown-timeline-item{{ entry_rand }}" href="#">
                            <i class="fa-fw ti ti-arrow-down"></i>
                            <span>{{ __('Descendre') }}</span>
                        </a>
                    </li>
                {% endset %}

                {#             end dlteams#}
                    {% if add_planification_btn is defined %}
                        {% set actions = actions|merge({promote_btn, move_btn, add_planification_btn, moveup_btn, movedown_btn}) %}
                    {% else %}
                        {% set actions = actions|merge({promote_btn, move_btn, moveup_btn, movedown_btn}) %}
                    {% endif %}
            {% endif %}
        {% endif %}

        {% if actions|length %}
            <div class="dropdown ms-2">
                <button class="btn btn-sm btn-ghost-secondary timeline-more-actions" type="button" id="more-actions-{{ entry_rand }}" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="more-actions-{{ entry_rand }}">
                    {% for action in actions %}
                        {{ action }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <button class="btn btn-sm btn-ghost-secondary close-edit-content d-none ms-auto">
        <i class="ti ti-x"></i>
    </button>
</div>

{# TODO dlteams#}
<script type="text/javascript">
    $(function () {
        $(document).on("click", ".move-timeline-item{{ entry_rand }}", function () {

            var timeline_item = $(this).closest(".timeline-item");
            var content_block = timeline_item.find(".timeline-content");
            var itemtype      = timeline_item.data('itemtype');
            var items_id      = timeline_item.data('items-id');
            console.log(items_id);

            var modalId = glpi_ajax_dialog({
                dialogclass: 'modal-md',
                bs_focus: false,
                url: '/marketplace/dlteams/ajax/move_timeline_item.php?tickettasks_id='+items_id,
                title: i18n.textdomain('dlteams').__('Transférer vers un autre événement', 'dlteams'),
                close: function () {

                },
                fail: function () {
                    // displayAjaxMessageAfterRedirect();
                }
            });
        });

        $('.add_tickettask_planification').off('click').click(function(e){
            e.preventDefault();

            let items_id = $(this).attr('data-tickettasks-id');
            var modalId = glpi_ajax_dialog({
                dialogclass: 'modal-lg',
                bs_focus: false,
                url: '/marketplace/dlteams/ajax/tickettask_plannif.php?itemtype=TicketTask&items_id='+items_id,
                title: i18n.textdomain('dlteams').__('Plannifier', 'dlteams'),
                close: function () {

                },
                fail: function () {
                    // displayAjaxMessageAfterRedirect();
                }
            });
        });


        const observer = new MutationObserver((mutations) => {



            $('#subtaskplanplanif').off('click').click(function(e){
                e.preventDefault();

                $('#subtaskviewplanPlanif').load('/ajax/planning.php', {
                    action: 'add_event_classic_form',
                    form: 'followups',
                    entity: {{ call('Session::getActiveEntity') }},
                    itemtype: 'TicketTask',
                    items_id: {{ entry_i['id'] }}
                });
                $(this).hide();
            });
        });

        const config = {
            childList: true,
            attributes: true,
            subtree: true // Observer les mutations sur des descendants également
        };

        // Commencer l'observation sur l'élément body pour couvrir tout le DOM
        observer.observe(document.body, config);


        $(document).on("click", ".moveup-timeline-item{{ entry_rand }}", function () {

            var timeline_item = $(this).closest(".timeline-item");
            var items_id      = timeline_item.attr('data-items-id');
            console.log(items_id);

            $.ajax({
                url: '/marketplace/dlteams/ajax/move_updown_task.php',
                type: 'POST',
                data: {id: items_id, direction: 'up'},
                success: function (data) {
                    location.reload();
                },
            });
        });

        $(document).on("click", ".movedown-timeline-item{{ entry_rand }}", function () {

            var timeline_item = $(this).closest(".timeline-item");
            var items_id      = timeline_item.attr('data-items-id');
            console.log(items_id);

            $.ajax({
                url: '/marketplace/dlteams/ajax/move_updown_task.php',
                type: 'POST',
                data: {id: items_id, direction: 'down'},
                success: function (data) {
                    location.reload();
                },
            });
        });
    });

</script>
{# end dlteams#}